
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  
<!-- This is our auth Service servlet-->

<servlet>
<servlet-name>authService</servlet-name>
<servlet-class>servlets.authServiceServlet</servlet-class>

</servlet>


<servlet-mapping>
<servlet-name>authService</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>






</web-app>