<web-app>
 <display-name>HRISHI SERVER DEMO</display-name>
 
 <welcome-file-list>
 <welcome-file>index.html</welcome-file>
 </welcome-file-list>
 
 
 
 <servlet>
 <servlet-name>MyServlet</servlet-name>
 <servlet-class>DemoServlet</servlet-class>
 
 
 <init-param>
 
 <param-name>MyName</param-name>
 <param-value>Hrishi</param-value>
 
 </init-param>
 <init-param>
 <param-name>MyWebsite</param-name>
 <param-value>Beginnersbook.com</param-value>
 </init-param>
 </servlet>
 
 
 <servlet-mapping>
 <servlet-name>MyServlet</servlet-name>
 <url-pattern>/welcome</url-pattern>
 </servlet-mapping>



</web-app>